        <footer>
            <ul>
                <li><a href="">TERMS</a></li>
                <li><a href="">ADVERTISE</a></li>
                <li><a href="views/contact.html">CONTACT</a></li>
            </ul>

            <div>
                <p>&copy; BETTY AGRO-TOURISN 2024 || ALL RIGHTS RESERVED<br>
                Designed by AKPET, Kohly M. Obaji</p>
            </div>
        </footer>


        <script src="js/script.js"></script>
    </body>
</html>