<nav>
    <div><button class="nav-login xs-hid">Log In</button></div>

    <a href="/" class="nav-branding">betty agr&#248-tourism</a>
    
    <ul class="nav-menu">
        <li class="nav-item lg-hid"><button class="nav-login">Log In</button></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item">
            <form action="" method="post">
                <input type="text" placeholder="Search">
            </form>
        </li>
    </ul>
                        
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>