<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section class="about-section">
    <div class="about-container">
        <div class="profile-pic-container">
            <img src="img/profile_pic.jpeg" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="content-container">
            <h1 class="section-title">Hello... &#x1F44B;</h1>
            <p class="intro-paragraph">
                <b>My name is Olaitan (Elizabeth) Ariyo and I am a farmer. This  title alone doesn't fully capture who I am, so let me rephrase that: <i>I am an <u>agripreneur</u> with a passion for promoting sustainable agriculture in Nigeria, especially among women and youths.</i> I am a fully award of the vital <i>yet grossly underestimated</i> role women play in agriculture, which is why I am actively involved in training women to adopt agriculture as a business. Through this, they can make a significant impact not just on their families but ultimately on their communities. </b>
            </p>
            <p class="about-paragraph">
                I can go on and on, about how I have a Bachelor's degree in Forestry, Wildlife and Fisheries Management from the Unversity of Ado-Ekiti or that I am the CEO of Betsyde Nigeria Limited. But what I really want to talk about is the reason behind my passion for Betty Agro-Tourism blog.
            </p>
            <p class="about-paragraph">
                At Betty Agro-Tourism, my mission is to merge agriculture and tourism by encouraging farmers and ranchers to open their properties to the public. This initiative allows individuals and families to enjoy a variety of outdoor activities that are both fun and educational. Visitors can experience the joy of picking fresh produce, learn about sustainable farming practices, and participate in hands-on farm activities. By offering these immersive experiences, I aim to bridge the gap between urban and rural communities, fostering a deeper appreciation for the hard work that goes into farming and the importance of sustainable agricultural practices.
            </p>
            <p class="about-paragraph">
                Through my blog, I share the inspiring stories of local farmers who are making significant impacts in their communities. I highlight their successes, challenges, and the innovative farming techniques they use. By creating engaging and informative content, I provide valuable insights into the agricultural sector, discussing both practical and philosophical aspects of farming. My goal is to inspire more people to support and participate in sustainable agriculture, recognizing its critical role in ensuring food security and environmental sustainability.
            </p>
            <p class="about-paragraph">
                By promoting these initiatives, I hope to lead Nigeria towards a future where agriculture is not only a means of livelihood but also a source of pride and community strength. I believe that educating the public and fostering a connection between consumers and producers can create a healthier, more self-sufficient nation. Through Betty Agro-Tourism, I strive to empower individuals to make informed choices about their food and to see the value in supporting local farmers committed to sustainable practices. My ultimate vision is to cultivate a society where agriculture is celebrated and respected for its indispensable contribution to our daily lives.
            </p>
        </div>
    </div>
</section>

<%- include("partials/footer") %>
