* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

p, a, li {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    padding-bottom: 9px;
    line-height: 24px;
    letter-spacing: 1px;
}

.btn {
    padding: 6px 9px;
    font-size: 18px;
    font-weight: 450;
    background-color: #b3b2b2;
    color: aliceblue;
    border: 1px solid #111111;
}

.btn:hover {
    background-color: #0000ff;
}

.home {
    display: flex;
    width: 87%;
    margin: auto;
    align-content: space-between;
}

.main {
    width: 81%;
}

.card {
    border-bottom: 1px solid #b3b2b2;
    padding: 27px 0;
}

.title {
    padding: 18px 0 18px 21px;
}

.card img {
    width: 875px; /* adjust the width as needed */
    height: 450px;
    object-fit: cover;
}

.side {
    margin: 0 60px;
}

.side .card {
    padding: 60px 18px 45px 18px;
    border-bottom: 1px solid #b3b2b2;
}

.about, .contact {
    width: 52%;
    margin: auto;
    padding: 75px 0 45px 0;
    border-bottom: #b3b2b2 1px solid;
}

.about h1, .contact h1 {
    padding-bottom: 30px;
}

.contact form {
    width: 100%;
    padding: 21px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

.contact input, textarea {
    width: 100%;
    margin-bottom: 12px;
    font-size: 21px;
    padding: 0 9px;
    outline-width: 0;
    border: 1px solid #b3b2b2;
}

footer {
    text-align: center;
    color: #b3b2b2;
    background-color: #111111;
    margin-top: 60px;
}

footer ul {
    display: flex;
    height: 75px;
    width: 27%;
    margin: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

footer a {
    color: #b3b2b2;
    font-size: 18px;
}

footer div{
    width: 60%;
    border-top: #b3b2b2 1px solid;
    padding: 27px;
    margin: auto;
    font-size: 12px;
}

.about-section {
    width: 60%;
    margin: auto;
    padding: 90px 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.profile-pic-container {
    flex: 0.6;
    width: 270px;
    margin-right: 39px;
    overflow: hidden;
    aspect-ratio: 0.9;
    border-radius: 6%;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    flex: 1.3;
    text-align: justify;
}

.content-container h1 {
    padding-bottom: 39px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .home {
        display: flex;
        flex-direction: column;
        width: 93%;
        margin: auto;
        align-content: space-between;
    }

    .main {
        width: 100%;
    }
    
    .card {
        border-bottom: 1px solid #b3b2b2;
        padding: 27px 0;
    }
    
    .title {
        padding: 18px 0 18px 21px;
    }
    
    .card img {
        width: 100%; /* adjust the width as needed */
        height: 270px;
        object-fit: cover;
    }
    
    .side {
        margin: 0 9px;
    }
    
    .side .card {
        padding: 66px 24px 51px 24px;
        border-bottom: 1px solid #b3b2b2;
    }

    .about, .contact {
        width: 85%;
        margin: auto;
        border-bottom: #b3b2b2 1px solid;
    }
    
    .about h1, .contact h1 {
        padding-bottom: 30px;
    }
    
    /*////////////////////*/
    /* ABOUT PAGE STYLES */
    .about-section{
        width: 93%;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .profile-pic-container {
        width: 270px;
        margin-bottom: 45px;
        overflow: hidden;
        aspect-ratio: 0.9;
        border-radius: 3%;
    }

    .profile-pic-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-container {
        flex: 1.3;
        text-align: left;
    }
    
    .content-container h1 {
        padding-bottom: 24px;
    }
    
    footer ul {
        display: flex;
        height: 75px;
        width: 54%;
        margin: auto;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    footer a {
        font-size: 15px;
    }

    .copyright {
        width: 96%;
        border-top: #b3b2b2 1px solid;
        padding: 30px;
        margin: auto;
    }   

    .copyright p {
        font-size: 12px;
        line-height: 15px;
    }
}